body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(199, 184, 214);
    padding: 20px;
}

h1 {
    margin: 20px 0;
    color: #333;
}

#time-display {
    font-size: 3em;
    color: #333;
    margin: 20px 0;
}

#date-picker {
    font-size: 1em;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    font-size: 1.2em;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003d80;
}
