
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}


#calc {
    border-collapse: collapse;
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#calc td {
    padding: 10px;
    text-align: center;
}


input[type="number"], input[type="text"] {
    /*width: 100%;*/
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="text"] {
    background-color: #f5f5f5;
    cursor: not-allowed;
}


input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.errorClass {
	font-size: 12px;
	color: red;
}
.errorClass
{
	color:red;
	display:inline;
	font-size: 12px;
}
.noerrorClass{
	display:none;
}   
